<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>Blog Page</title>
</head>

<body>
    <%- include("./partials/navbar") %>
        <div class="container mt-4" style="text-align: center;">
            <h2 style="text-transform: uppercase;">
                <%= blog.title %>
            </h2>
            <img src="<%= blog.coverImageURL %>" width="400px" alt="">
            <div class="mt-4">
                <h4>
                    <%= blog.body %>
                </h4>
            </div>
        </div>
        <div class="container mt-4" style="text-align: right; align-items: center;">
            <span style="margin-right: 18px;">Created By:</span>
            <img style="width: 40px;border-radius: 50%;" src="<%= blog.createdBy.profilePictureUrl %>" alt="">
            <p>
                <%= blog.createdBy.fullName %>
            </p>

        </div>

        <% if (locals.user) { %>
            <div class="container mt-4">
                <h4>Comments (<%= Comments.length %>) </h4>
                <form action="/blogs/comment/<%= blog._id %>" method="post">
                    <div class="mb-3">
                        <input type="text" name="content" class="form-control" id="content"
                            placeholder="Write your comment">
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Add Comment</button>
                    </div>
            </div>
            <% } %>

                <% Comments.forEach(comment=> {
                    %>
                    <div class="container mt-3">
                        <div>

                            <img src="<%= comment.createdBy.profilePictureUrl %>" width="14px" alt="">
                            <span>
                                <%= comment.createdBy.fullName %>
                            </span>
                        </div>
                        <div>
                            <h3>
                                <%= comment.content %>
                            </h3>
                        </div>

                    </div>
                    <% }) %>



                        <%- include("./partials/scripts") %>
</body>

</html>